<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
</head>
<body>
    <!-- <h1>ALLAH is great King</h1> -->

        <h2>Fill the form</h2>
    <form id="dataForm" onsubmit="handleSubmit(event)">
        <input type="text" name="title" placeholder="File title" required><br><br>
        <textarea name="details" placeholder="File Details" required></textarea><br><br>
        <button type="submit">Create File</button>
    </form>

    <%=      %>
    
</body>
</html>